<div class="proj-container{% if include.dest %} proj-haslink{% endif %}">
  {%- if include.dest -%}
    {% if include.direct_link %}
    <a class="proj-link" href="{{ include.dest }}">
    {% else %}
    <a class="proj-link" href="{{ include.dest | relative_url }}">
    {% endif %}
  {%- endif -%}
    <div>
      <div class="proj-img-container">
        <img class="proj-img" src="{{ include.thumb | relative_url }}" />
      </div>
      <div class="proj-text">
        <div class="proj-header{% unless include.dest %} proj-nolink{% endunless %}">
          {{ include.header }}
        </div>
        {{ include.desc }}
        <br />
        {% if include.language %}
        <br />
        <b>Language:</b> {{ include.language }}
        {% endif %}
        {% if include.timeframe %}
        <br />
        <b>Timeframe:</b> {{ include.timeframe }}
        {% endif %}
        {% unless include.dest %}
        <br />
        <div class="proj-minor">(more info coming soon)</div>
        {% endunless %}
        {% if include.direct_link %}
        <br />
        <div class="proj-minor">(direct link)</div>
        {% endif %}
      </div>
    </div>
  {% if include.dest %}
  </a>
  {% endif %}
</div>
<br />
